@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --radius: 1rem;
  --accent: oklch(0.89 0 0);
  --destructive-foreground: oklch(0.985 0 0);
  --primary: #171717;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #18181b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
  --color-destructive-foreground: var(--destructive-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius: var(--radius);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.125 0 0);
    --foreground: #ededed;
    --accent: oklch(0.229 0 0);
    --destructive-foreground: oklch(0.985 0 0);
    --primary: #ffffff;
    --primary-foreground: #171717;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --border: #27272a;
    --input: #27272a;
    --ring: #d4d4d8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
